#tableRoles {
    border: solid;
    border-radius: 15px;
  }
  
  #containerTable,
  #ButtonContainer {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  #textGestionUser {
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
